# OS
.DS_Store
Thumbs.db

# IDEs 
.buildpath
.project
.settings/
.build/
.idea/
nbproject/

# Contao
.tx
/.htaccess
/*.xml
contao/update.phar.php
system/html/*
system/logs/*
system/scripts/*
system/tmp/*
system/config/dcaconfig.php
system/config/initconfig.php
system/config/langconfig.php
system/config/localconfig.php
system/config/pathconfig.php