/* TYPOlight back end color picker CSS file */
body
{
	background:url("images/hbg.jpg");
	background-repeat:repeat-x;
	background-color:#f5f5f5;
}
* html body
{
	margin-left:1px;
	text-align:center;
}

/* Container */
#container
{
	width:232px;
	margin:0 auto;
	text-align:left;
}

/* Main */
#main
{
	width:232px;
	padding:0;
	text-align:left;
}
html>body #main
{
	margin-bottom:-1px;
}
*:first-child+html #main
{
	margin-bottom:0;
}

/* Color table */
#cp_header
{
	width:232px;
	margin-top:15px;
	background-color:#fff;
	border-width:1px 1px 0 1px;
	border-style:solid;
	border-color:#000;
}
#cp_survey
{
	width:232px;
	margin-bottom:15px;
	background-color:#000;
}
#cp_survey td
{
	width:10px;
	height:10px;
	cursor:pointer;
}