/* TYPOlight news style sheet */
.comment_wrap { width:600px; }
.cte_type { margin:0px 0px 9px 0px; }
.tl_file_list { vertical-align:top; padding:6px 0px 9px 0px !important; }
.mark_links a { text-decoration:underline; }
.cte_type.published { background-image:url("approved.gif"); }
.cte_type.unpublished { background-image:url("pending.gif"); }